@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {


    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
}

/* final project */




.logo__img {
    width: 36px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;




}



p {

    display:block ;
}













.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;




}

.nav__row {
    width: 100%;
    max-width: ;
    display: flex;
    justify-content: space-between;



}

section {
    padding: 0 36px;
}

.nav__logo--title {

    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: bolder;
    margin-left: 12px;


}

.btn__menu {

    position: absolute;
    top: 44px;
    right: 47px;
    width: 28px;
    font-size: 20px;
    font-weight: 900;
    background: none;
    border: none;
    color: rgb(36, 62, 99);
    display: flex;
    align-items: center;
    margin-top: 0;
    z-index: -2;
    opacity: 0;

}


.nav__link--primary {
    position: relative;
}

.btn__menu--close {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    padding-right: 30px;
    background: none;

    top: 20px;
    right: 20px;
    border: none;

}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;

}

.menu__link {
    height: 40px;
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    background-color: none;
}

.menu__backdrop {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 678px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-bottom: 0;
    
    border-radius: 8px;
    background-color: #ab5757;
    border: 1px solid rgb(229, 231, 235);
    opacity: ;
    
    visibility:hidden ;

    transition: opacity 300ms ease;

}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    
}
.menu--open {
    max-height:
    overflow-y
}



.btn__menu--close {
    font-size: 25px;
    right: 45px;
    top: 26px;
    width: 20px;
    color: rgb(36, 62, 99);
    ;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    transition: all 300ms;
    width: 100%;
    max-width: 200px;

}

.menu__link--primary:hover {
    filter: brightness(80%);
}


.nav__logo {
    display: flex;
    align-items: center;
}

nav {
    padding-top: 32px;
}

section {
    padding: 0 36px;
}

.nav__logo--title {

    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: bolder;
    margin-left: 12px;


}



.nav__btn {
    margin-top: 0;
}







.nav__link {

    margin: 0px 20px;
    padding: 0 0px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    text-wrap: nowrap;
    
}  

ul {
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    border: none;

}




.nav__link:after {


    content: "";
    width: 100%;
    height: 2px;
    left: 0 px;
    right: 0px;
    position: absolute;
    background-color: #6415ff;
    bottom: -6px;


    opacity: 0;
    transition: all 300ms ease;



}


.nav__link:hover.nav__link:after {
    opacity: 1;

}

.nav__btn {
    background: none;
    border: none;
    padding: 0;



}

.nav__btn:hover {

    filter: brightness(60%);
    transition: all 500ms ease;
}


.button {
    cursor: pointer;


}


.nav__link--primary {
    font-size: 14px;
    font-weight: 600;

    color: white;
    border-radius: 9000px;
    border: none;
    padding: 12px 32px;
    background-color: #6415ff;
}

.nav__link {
    border: none;
    padding: 0px;

    color: #243e63;
    font-size: 16px;
    font-weight: 700;
    transition: all 400ms ease;
}



.nav__link:hover {
    color: #6415ff;
}
















.container {
    padding: 80px 0;
}

.header__description {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.header__img--wrapper {

    width: 60%;
    display: flex;
    justify-content: center;


}

.header__customer--img {
    width: 100%;

    max-width: 500px;


}

.header__img {
    width: 100%;
    max-width: 512px;

}

h1 {
    font-size: 36px;
}

h2 {
    color: #243e63;
}

.purple {
    color: #6415ff;

}

.header__description--para {

    margin: 32px 0;
    font-size: 16px;
}

.header__customer--title {
    margin-top: 80px;
    font-size: 12px;


}

.header__customer--img {
    margin-top: 16px;
}

.header__email {
    width: 100%;
    max-width: 480px;
    height: 68px;
    position: relative;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.header__email--input {
    width: 100%;
    max-width: 250px;
    border-radius: 500px;
    height: calc(100%-16px);
    padding: 20px 19px 20px 25px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid rgb(229, 231, 235);
    transition: border-color 300ms;
    z-index: 1;
    top: 0;
    bottom: 0;









}

.header__email--input:hover {
    border-color: #6415ff;
}


.header__email--btn {
    border: none;
    background-color: #6415ff;
    padding: 5px 32px;
    border-radius: 9000px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 8px;
    width: 130px;
    color: white;
    z-index: 2;
    margin-left: 0;
    transform: translateX(-31px);
    cursor: pointer;
    width: 100%;
    max-width: 250px;





}

.header__email--btn:hover {
    filter: brightness(60%);
}

.header__img--wrapper {

    padding: 90px 0 0 0;
    margin-bottom: 10px;



}


.row__feature {


    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.feature {

    display: flex;
    flex-wrap: wrap;

}

.feature__image--wrapper {}

.section__tag {
    color: #6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {

    font-size: 48px;
    margin: 16px 0;
    font-weight: 900;
    color: rgb(36, 62, 99);
    letter-spacing: 0.025em;

}

.features__title {
    font-size: 48px;
}

.section__para {
    color: #7c8ba1;
    font-size: 18px;
    max-width: 576px;
    text-align: center;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 32px;
}

.feature__row {
    padding: px px;
    display: flex;
    justify-content: center;
    width: calc(100%/3)
}

.feature__image--wrapper {
    width: 66px;
    height: 66px;

    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {

    width: 24px;
    height: 24px;

}

.feature__para {

    max-width: 211px;
    font-weight: 500px;
    margin-top: 16px;
    text-align: left;
    line-height: 2;
    color: rgb(124, 139, 161)
}

.feature__text {
    margin: 8px 0 0 16px;
}


/* 

qulity 


*/


.qulity__description {

    width: 50%;
}


.qulity__img__wrapper {

    width: 50%;
}

.qulity__img {

    width: 100%;
}

.qulity__para {
    text-align: left;
    width: 100%;
    max-width: 400px;



}

.btn {

    width: 100%;
    max-width: 150px;

    cursor: pointer;
    border: none;

    color: #fff;
    margin-top: 32px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9000px;
    background-color: #6415ff;
}

.qulity__btn:hover {


    filter: brightness(75%);


}

.qulity__img__wrapper {
    border: 1px solid #e5e7eb;
}



/*

STEPS


*/


.row__steps {
    display: flex;

}

.steps__img--wrapper {
    width: 50%;
}

.steps__description {
    width: 50%;
}

.steps__img {

    width: 100%;
}

.step {
    display: flex;
    margin-top: 36px;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
    line-height: 1;


}

.step__title {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;


}

.step__para {

    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;



}

.steps__description {

    margin-left: 24px;
    padding: 32px 0 32px 64px;

}


.step__para {
    width: 100%;
    max-width: 320px;

}

.step__description {
    margin-left: 24px;

}

.section__step--blob {
    position: relative;

}

.step__blob {

    width: 100px;
    height: 100px;
    background-color: #e3cdd5;
    opacity: 0.3;
    border-radius: 30% 70% 70% 30% / 67% 30% 70% 33%;
    position: absolute;
    z-index: ;
    left: -10px;
    bottom: -10px;

}



/*

values

*/

.btn:hover {
    filter: brightness(70%);
}



.values__description {
    width: 50%;
    margin: 32px 64px 32px 0;
}

.values__img--wrapper {
    width: 50%;
}


.values__img {
    width: 100%;
}

.value__list {
    display: flex;

}

.value {
    display: flex;
    flex-direction: column;
    margin: 32px 32px 0 0;
}

.value__title {
    display: flex;
}

.value__para {
    margin-top: 16px;
}

.section__para--value {
    margin-bottom: 36px;
    text-align: left;
}

.value__name {

    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
    display: flex;
    align-items: center;

}

.value__img--wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ae6b4;



}

.value__img--wrapper2 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #feb2b2;
}


.value__para {

    margin-top: 36px;
    line-height: 1.625;
    color: #718096;

}


/*

PLANS

*/


.plans__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plans {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    text-align: center;
    z-index: 100;


    width: 100%;
}

.plan {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px 32px 0 0;
    position: relative;
    border-radius: 8px;
    border-left: 1px solid #cbd5e0;
    border-right: 1px solid #cbd5e0;
    border-bottom: 1px solid #cbd5e0;
    overflow: hidden;
    z-index: 100;



}

.plan__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    color: #1a202c;
    margin-top: px;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    color: #1a202c;
    line-height: 1.625;
}

.plan__duration {
    color: #a0aec0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.625;
    letter-spacing: 0.1em;
    margin-bottom: px;

}

.plan__tarket {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #1a202c;
    margin-top: 20px;


}

.plan__feature {
    font-size: 16px;
    font-weight: 500;
    color: #718096;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;


}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, rgba(56, 178, 172, 100%) 0%,
            rgba(129, 230, 217, 100%) 100%);



    z-index: 100;

}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);

}

.plan:nth-child(2) .plan__middle {
    border-top: 1px solid rgb(102, 126, 234);
    border-bottom: 1px solid rgb(102, 126, 234);

}




.plan__buttom {
    padding: 32px 64px;

}

.plan__btn {
    width: 100%;
    height: 53px;
    border: none;
    padding: 20px, 32px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9000px;

    color: #fff;

    background: linear-gradient(90deg, rgba(56, 178, 172, 100%) 0%,
            rgba(129, 230, 217, 100%) 100%);

    transition: all 300ms;

}


.plan__btn:hover {

    cursor: pointer;
    transform: translate(2px, -2px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;




}

.plan__top {

    padding: 34px;
}

.plan__top2 {
    height: px;
    padding: 30px;
    padding-top: px;
}


.plan__duration {
    margin-bottom: px;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}


.plan__biz {}

.biz__stripe {

    width: 100%;
    height: 8px;

}

.white {
    color: #fff;
}

.plan__btn--biz {
    color: #6415ff;
    background-color: #fff;
    width: 100%;
    height: 53px;
    border: none;
    padding: 20px, 32px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9000px;
    transition: all 300ms;



}



.plan__btn--biz:hover {
    cursor: pointer;


    transform: translate(2px, -2px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;



}


.plan__btn--enterprise {

    width: 100%;
    height: 53px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 20px, 32px;
    border-radius: 9000px;
    background: linear-gradient(90deg, rgba(245, 101, 101, 100%) 0%,
            rgba(254, 178, 178, 100%) 100%);
    color: #fff;
    transition: all 300ms;
}

.plan__btn--enterprise:hover {
    cursor: pointer;
    text-transform: uppercase;
    transform: translate(2px, -2px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}



/* testimonial */


.testimonials__img {
    width: 100%;
}

.testimonials__img--wrapper {
    width: 50%;
}

.testimonials__description {
    width: 50%;
}


.testimonial__profile--img {
    width: 18%;
    border-radius: 500px;
    padding: px;
    width: 80px;
    height: 80px;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
}

.testimonial__buttons {
    display: flex;
}

.testimonials__description {
    padding-left: 64px;
    text-align: left;
}

.testimonial__para {
    text-align: left;
    margin: 16px 0 40px 0;
    color: #4a5568;
    font-size: 16px;

}

.section__para {
    text-align: left;
}

.testimonial__title {
    margin-top: 16px;
}

.testimonial__details {
    margin-left: 16px;
    display: flex;
    align-items: center;



}

.testimonial__detail {
    display: flex;
    flex-direction: column;
    align-items:
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button--divider {
    width: 1px;
    height: 25px;
    background-color: #edf2f7;
}


.testimonial__button {
    margin: 12px;
    background-color: #edf2f7;
    width: 50px;
    height: 50px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6415ff;
    transition: all 300ms;


}

.testimonial__rating {
    color: rgba(246, 173, 85);
}

.profile__name {
    color: #243e63;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;


}

.profile__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;

}

.testimonial__button:hover {
    filter: brightness(95%);
}

.start__container {
    width: 100%;
    padding: 96px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    position: relative;
    z-index: 1;
}





.start__para {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    padding-right: px;
    margin-right: 0;
    width: 70%;
    max-width: 500px;

}

.start__row {
    padding: 0 32px;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-right: 0;
}

.start__button {
    margin-right: 0 32px 0 px;
    padding: 20px 40px;
    color: #e9e5e5;
    background-color: #f56565;
    border-radius: 500px;
    margin-right: 32px;
    border: none;
    font-size: 16px;
    letter-spacing: 0.025em;
    font-weight: 700;
    transition: all 300ms;
}

.Contact__button {
    background: none;
    color: #e5e7eb;
    border-radius: 500px;
    padding: 20px 40px;
    border: 0.5px solid;
    font-size: 16px;
    letter-spacing: 0.025em;
    font-weight: 700;
    transition: all 300ms;


}

.start__button:hover {
    filter: brightness(80%);
    background-color: #ce4666;
    width: 100%;
    height: 60px;
}


.Contact__button:hover {
    background-color: #cbd5e0;
}

.blob {
    width: 100px;
    height: 100px;
    background-color: #412181;
    opacity: 0.15;
    border-radius: 30% 70% 70% 30% / 67% 30% 70% 33%;
    position: absolute;
    z-index: 2;
    left: -0px;
    bottom: -px;
    top: 0px;
}


/* 

FOOTER

*/


footer {
    background-color: rgb(100, 21, 255);
}

.footer__lists {
    display: flex;
    width: 100%;
    padding: 32px 32px;

}

.footer__logo--img {
    width: 100%;
    width: 30px;
    height: 30px;
}

.footer_bottom {
    display: flex;
}

.footer__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;

}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100%/5);
    text-align: left;
    padding-left: 32px;
    color: #e5e7eb;



}

.footer__column--link {
    color: #e5e7eb;
}

.footer_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: 30px;
}

.footer__logo--text {
    color: #e5e7eb;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 900;
}

.footer__copyright {
    color: #e5e7eb;
    display: flex;
    align-items: center;
}

.footer__social--lists {
    display: flex;
    align-items: center;

}

.footer__social--link {
    margin-left: 20px;
    width: 35px;
    height: 35px;
    background-color: #cbd5e0;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 500px;
    transition: all 300ms;

}

.footer__title {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

}

.footer__column--link {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    position: relative;


}

.footer__copyright {
    color: #cbd5e0;
    font-size: 14px;
    font-weight: 500;

}

.footer__divider {

    width: 95%;
    height: 2px;
    background-color: rgb(116, 44, 255);
}

.footer__social--link:hover {
    filter: brightness(80%);
}

.footer__column--link:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e5e7eb;
    left: 0;
    bottom: -3px;
    position: absolute;
    opacity: 0;
    transition: all 300ms;


}

.footer__column--link:hover.footer__column--link:after {

    opacity: 1;


}


.footer__top--blob {
    width: 300px;
    height: 300px;
    background-color: #5f19ec;
    border-radius: 30% 70% 70% 30% / 67% 30% 70% 33%;
    position: absolute;
    top: -0px;
    left: -80px;
    opacity: 1;
    z-index: -1;

}

.footer__container {
    position: relative;
    z-index: 2;
}

.menu--open .menu__backdrop {
    display: flex;
}





























@media (max-width:1168px) {

    .start__container {

        display: flex;
        flex-direction: column;



    }

    .start__para {
        margin-bottom: 40px;
    }

}


@media (max-width:950px) {
    .nav__link {
        display: none;
    }

    .nav__link--primary {
        display: none;
    }

     .row {
        display: flex;
        flex-direction: column;
     }
     .values__img--wrapper {

        padding: 20px;
        width: 80%;
    
     }



}

@media (max-width:845px) {

    .header__email--input {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .feature__row {
        width: 50%;
    }

    .plans {
        display: flex;
        flex-direction: column;
    }




    .start__buttons {

        display: flex;
        justify-content: center;
    }

    .steps__description {
        padding-left: 26px;
    }

    .values__description {

        padding-right: 0px;
    }

}


@media (max-width:609px) {

    .feature__row {
        width: 100%;
    }

    .steps__description {
        padding-left: 10px;
    }

    .value__list {
        display: flex;
        flex-direction: column;
    }

    .testimonial__bottom {
        display: flex;
        flex-direction: column;
    }

    .start__buttons {
        display: flex;
        flex-direction: column;
    }

    .start__button {

        display: flex;
        justify-content: center;
    }

    .Contact__button {
        display: flex;
        justify-content: center;
    }

    .footer__lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        

    }

    .footer__list {
        width: calc(100%/3);
        padding-left: 80px;
        margin-bottom: 30px;
    }

    .footer_bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__copyright {

        margin: 32px;
    }

    .footer__social--link {

        margin: 20px;
        padding: 20px;
    }

    .btn__menu {

        opacity: 1;
    }

}

@media (max-width: 502px) {
    .start__row {
        padding-left: 0;
        padding-right: 0;
    }

    .footer__lists {
        padding-right: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    pricing {
        padding-right: 0;
    }

    .footer__list {
        padding-left: 20px;
        width: %;
        margin-bottom: 60px;
    }

    .footer_bottom {
        margin-right: 0;
        padding-right: 0;
    }

    .footer__copyright {
        text-align: center;
    }

    .header__email--input {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 0;
        width: 150px;
        margin: 0px 0 0px 0px;
        background: transparent;
        font-size: 14px;
        font-weight: 700;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header__email {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 940px) {


    .btn__menu {

        opacity: 1;
    }


}

.header__email {

    display: flex;
    flex-direction: column;



}

.header__email--btn {

    position: relative;
    margin-top: 24px;
    margin-left: 50px;
    width: 100%;
    transform: translateX(-17px);

}

button {
    margin-top: 40px;
    width: 100%;
    max-width: 480px;
}

.header__email--input {
    width: 100%;

    margin-right: 50px;
    margin-top: 24px;
    z-index: 0;
    opacity: 1;
    background: transparent;
    padding-left: 0;
    padding: 10px;
    display: flex;
    text-align: center;
}

.header__email--btn {
    padding: 10px;
}

.header__description--para {
    margin-bottom: 80px;
    position: relative;
}


.row--head {

    display: flex;
    flex-direction: column;
}

.header__email--input {

    margin-left: 50px;
}


.header__description {
    display: flex;
    align-items: center;
}





@media (max-width: 430px) {
    .header__email--input {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: auto;

    }

    .header__email--btn {
        font-size: 14px;
    }

}

@media (max-width: 360px){

    .testimonial__rating {
        display: flex;
    }

   .testimonials__img--wrapper {
     width: 80%;

   }
}
